.menu-bar {
  position: fixed;
  bottom: 0;
  height: 7%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgb(22, 74, 22);
}

button {
  width: 60px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 8px;
  box-shadow: none;
  border: none;
}

.nav-item {
  color: white;
  font-size: 24px;
}

#home-button {
  font-size: 32px;
}