.diary-slider {
  background-color: rgba(9, 77, 9, 0.829);
  border-radius: 20px;
  height: 50px;
  width: 65%;
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

button {
  background: none;
}