.card-collection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 20px;
  margin-left: 8%;
  margin-right: 8%;
}

.first-plant-container {
  background-color: #60BA60AF;
  border-radius: 12px;
  margin-top: 25px;
  padding-top: 14px;
  padding-bottom: 14px;
}