.button {
  background-color: var(--mainGreen);
  color: white;
  font-weight: bold;
  font-size: 22px;
  padding: 12px;
  width: 80%;
  position: relative;
  margin: 0 auto 60px;
  margin-top: 20px;
}
